<div class="content">
  <div class="row">

    <div class="container center">
      <h1 class="text-center mb-4 justify-contact-center">
        <strong>Create your free account<span style="color: #E67E22">.</span></strong>
      </h1>
      <p style="color:#E67E22">________________</p>
      <br>
      <h3>Start exploring our experiences or list your own in no time</h3>
      <br>
    </div>



    <div class="container">

      <div class="box-centered box">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn btn-flat w-100" %>
          </div>
        <% end %>

      </div>
      <br>
      <div class="text-center">
        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>

  </div>
</div>



