<div class="navbar navbar-expand-sm navbar-light navbar-treepr">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      Treepr<span style="color: #E67E22">.</span>
    <% end %>

    <div class="form-inline">

      <%= link_to "Host", host_path, class: "btn btn-ghost" %>
      <ul class="navbar-nav mr-auto desktop">
        <li class="nav-item mx-2">
        </li>
        <% if !user_signed_in? %>
            <li class="nav-item mx-2">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
        <% else %>
          <li class="dropdown bl-orange">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <li class="nav-item">
                <li><%= link_to "Trips", root_path, class: "dropdown-item" %></li>
              </li>
              <li class="nav-item">
                <li><%= link_to "Inbox", root_path, class: "dropdown-item" %></li>
              </li>

              <li class="dropdown-divider"></li>

              <% if current_user.experiences.exists? %>
                <li><%= link_to "Host calendar", root_path, class: "dropdown-item" %></li>
                <li><%= link_to "Reservations", root_path, class: "dropdown-item" %></li>
                <li><%= link_to "Listings", experiences_path, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Host a campsite", host_path, class: "dropdown-item" %></li>
              <% end %>

              <li><%= link_to "My Account", root_path, class: "dropdown-item" %></li>

              <li class="dropdown-divider"></li>
              <% if current_user.admin == true %>
                <li><%= link_to "Admin dashboard", admin_path, class: "dropdown-item" %>
                </li>
              <% end %>
              <li><%= link_to "Help & FAQ", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
</div>
