<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      Treepr<span style="color: #E67E22">.</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Inbox", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle test" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-campground"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your profile", user_path(current_user), class: "dropdown-item" %>
              <% if current_user.experiences.any? %>
                <a class="dropdown-item" href="/my_experiences">My Experiences</a>
              <% else %>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/my_experiences">Host an Experience</a>
              <% end -%>
              <a class="dropdown-item" href="/account">Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help</a>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"%>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Host", host_path, class: "btn btn-flat" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
