<div class="row">
  <div class="col-2">
    <%= render "shared/onboarding_side_nav" %>
  </div>
  <div class="col-10">
    <div class="onboarding-box">
      <h1>What kind of experience do you host ?</h1>
      <br>
        <%= simple_form_for @experience do |f| %>
          <%= f.error_notification %>
          <h3>Describe your experience: </h3>
          <%= f.input :description, as: :text, label: "Describe with your own words the kind of experience you would like to offer.", hint: "maximum 1000 characters", class: "form-control" %>
          <br>

          <P>Add Nature features (Multiple selector)</P>


          <%= f.submit "Save", class: "btn btn-flat" %>
        <% end -%>

    </div>
  </div>
</div>
