
<div class="container content">
  <div class="row d-flex justify-content-center p-3">
    <div class="col-xs-12 w-100">

      <h1><strong>Register your experience<span style="color: #E67E22">.</span></strong></h1>
      <br>

      <%= simple_form_for @experience do |f| %>
        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <div>
                <%= f.input :listing_type, collection: [["Glamping", "Glamping"],["Bring Your Own tent", "Bring Your Own tent"],["Campsite", "Campsite"], ["RV Park", "RV Park"], ["Camping", "Camping"]], placeholder: 'Campsites', label: "Experience type", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label>Your campsite name</label>
              <%= f.text_field :name, label: "Experience Name", autocomplete: 'off', class: "form-control" %>
            </div>
          </div>
          <br>

          <div class="col-12">
            <div class="form-group">
              <%= f.input :address, placeholder: "Enter your precise address", hint: "Campers will only get your exact address once they’ve booked a reservation.", class: "form-control" %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <%= f.input :website, placeholder: "If you have one, enter your website address", class: "form-control" %>
            </div>
          </div>

        </div>

        <br>
        <div class="container text-center">
            <%= f.button :submit,"Host Now", class: "btn btn-flat" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
