<div class="row">
  <div class="col-2">
    <%= render "shared/onboarding_side_nav" %>
  </div>
  <div class="col-10">
    <div class="onboarding-box">
      <h1>Create your experience<span style="color: #E67E22">.</span></h1>
      <div class="dropdown-divider orange"></div><br>
      <br>
        <%= simple_form_for @experience do |f| %>
          <%= f.error_notification %>
          <h3>Select the type of experience you offer</h3>
          <%= f.input :exp_type, collection: [["Glamping", "Glamping"],["Bring Your Own tent", "Bring Your Own tent"],["Campsite", "Campsite"], ["RV Park", "RV Park"], ["Camping", "Camping"]], label: false, class: "form-control" %>
          <br>

          <h3>What is your experience name</h3>
          <%= f.text_field :name, label: "Experience Name", autocomplete: 'off', class: "form-control", hint:"Chose a vibrant name" %>
          <br>

          <h3>Where is your experience located</h3>

          <%= f.input :address, placeholder: "Enter your precise address", hint: "Example: Nelson road, London, W1 1A0", class: "form-control" %>


          <%= f.submit "Save", class: "btn btn-flat" %>
        <% end -%>

    </div>
  </div>
</div>
